.btnText {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    left: 50px;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}